@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.nav-bar {
  background-color: rgb(35, 43, 69);
  overflow: hidden;
}
.nav-bar a {
  float: right;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  padding: 15px 10px 15px 20px;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 75px;
}
.E {
  font-size: large;
}
.O {
  font-size: medium;
}
.o {
  font-size: small;
}
.k {
  font-size: smaller;
}
.judul a {
  color: white;
  float: left;
  font-size: large;
  text-decoration: underline rgb(55, 67, 107);
}
.data {
  text-align: center;
  justify-content: center;
}
.logout {
  color: red;
}
.input {
  color: white;
}
