@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: rgb(73, 89, 144);
}

.bar {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

form {
  padding-left: 75px;
}

.form h2 {
  padding-left: 50px;
  padding-top: 50px;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 50px;
}

.form {
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  height: 100%;
  width: 40%;
  position: fixed;
  box-shadow: 20px 0px 75px 5px rgb(44, 54, 86);
}

.form label {
  font-size: medium;
  color: black;
}

.form label,
input {
  margin-bottom: 15px;
}

input {
  width: 400px;
  height: 35px;
  font-size: large;
}

.form label {
  font-size: medium;
}

.form label,
input {
  margin-bottom: 15px;
}

input {
  width: 400px;
  height: 35px;
  font-size: large;
}

.btnSubmit {
  background-color: dodgerblue;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-top: 70px;
}

.back {
  color: red;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}
